@media (max-width: 1300px) {
   .container {
       width: 950px;
   }
   .promo {
       &__order {
           .wrapper {
                .counts {
                    margin-left: 40px;
                }
                .profit {
                    width: 480px;
                    margin-left: 40px;
                    .row {
                        width: 480px;
                    }
                }
           }
       } 
   }
   .about {
       &__descr {
           margin-left: 70px;
       }
   }
   .profession {
       &__item {
           min-width: 244px;
       }
   }
}
@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
    .promo {
        .menu__navigation {
            justify-content: space-around;
        }
        &__order {
            .wrapper {
                    .profit {
                        width: 430px;
                        .row {
                            width: 430px;
                        }
                 }
            }
        }
    }
    .profession {
        &__item {
            min-width: 227px;
        }
    }
}
@media (max-width: 769px) {
    .container {
        width: 700px;
    }
    .promo {
        .menu {
            padding: 40px 10px 0;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
            }
            button {
                font-size: 12px;
                width: 120px;
                height: 35px;
            }
            &__item {
                a {
                    font-size: 12px;
                }
            }
            &__navigation {
                width: 690px;
            }
        }
        &__title {
            padding-top: 60px;
            width: 660px;
            font-size: 50px;
        }
        &__order {
            margin-top: 160px;
            height: 200px;
            .wrapper {
                flex-direction: column;
                height: 180px;
                padding: 15px;
            }
        }
    }
    .about {
        &__squear {
            width: 350px;
            height: 350px;
            img {
                width: 300px;
                height: 300px; 
            }
        }
    }
    .profession {
        &__items {
            margin-top: 50px;
            flex-direction: column;
            row-gap: 30px;
        }
        &__subtitle {
            margin-top: 30px;
        }
    }
    .partners {
        &__column {
            padding: 10px;
            img {
                width: 100%;
            }
        }
    }
    .teachers {
        &__item {
            align-items: center;
            img {
                width: 140px;
            }
        }
    }
    .contacts {
        padding: 100px 0 0 0;
    }
}
@media (max-width: 576px) {
    body._lock {
        overflow: hidden;
    }
    .container {
        width: 300px;
        padding: 0 10px;
    }
    .promo {
        min-height: 500px;
        .menu {
            padding: 15px 10px 0;
            img {
                z-index: 5;
            }
            // Бургер
            &__icon {
                z-index: 5;
                display: block;
                position: relative;
                width: 30px;
                height: 18px;
                cursor: pointer;
            }
            &__icon span, 
            &__icon::before,
            &__icon::after {
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
                background-color: #fff;
            }
            &__icon::before,
            &__icon::after {
                content: ''; 
            }
            &__icon::before {
                top: 0;
            }
            &__icon::after {
                bottom: 0;
            }
            &__icon span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
            &__icon._active span {
                transform: scale(0) translate(0px, -50%);
            }
            &__icon._active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }
            &__icon._active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
            &__body {
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.9);
                transition: left 0.3s ease 0s;
                padding: 100px 0 0 0;
                overflow: auto;
                z-index: 1;
            }
            &__body._active {
                left: 0;
            }
            &__navigation {
                flex-direction: column;
                width: 190px;
                row-gap: 10px;
                margin: 0 auto;
            }
            &__item {
                a {
                    font-size: 20px;
                }
            }
            button {
                width: 150px;
                height: 44px;
                font-size: 16px;
            }

        }
        &__title {
            width: 280px;
            font-size: 35px;
            text-align: center;
            margin: 0 auto;
        }
        &__order {
            height: 210px;
            margin-top: 35px;
            .wrapper {
                .counts {
                    margin-left: 0;
                }
                .profit {
                    margin-left: 0;
                    width: 280px;
                    .row {
                        width: 280px;
                    }
                }
            }
        }
        &__date {
            flex-direction: column;
            width: 150px;
            margin: 0 auto;
            padding-top: 0;
            row-gap: 15px;
            .date {
                width: 100%;
            }
        }
    }
    .about {
        padding: 100px 0 0 0;
        min-height: 670px;
        &__wrapper {
            flex-direction: column;
        }
        &__squear {
            width: 200px;
            height: 200px;
            border: 20px solid transparent;
            border-image: $color-purple;
            border-image-slice: 1;
            margin: 0 auto;
            img {
                width: 150px;
                height: 150px;
                transform: translateY(40px);
            }
        }
        &__descr {
            margin-left: 0;
            margin-top: 35px;
        }
        &__title {
            font-size: 30px;
        }
        &__text {
            margin-top: 20px;
        }
    }
    .start {
        height: 895px;
        padding: 100px 0 0 0;
        &__title {
            font-size: 30px;
            padding-left: 0;
            text-align: center;
            width: 200px;
            margin: 0 auto;
            img {
                top: -50px;
                left: 70px;
                width: 50px;
                height: 50px;
            }
        }
        &__stat {
            grid-template-columns: 50px 80px 150px;
            grid-template-rows: 1fr;
            column-gap: 10px;
        }
        &__row {
            grid-template-rows: repeat(4,1fr);
            grid-template-columns: 1fr;
        }
        &__column {
            &_1 {
                width: 80px;
                height: 100%;
                margin: 0 auto;
                background: linear-gradient(180deg,#c89afc 9.51%,#7c6afa 90.23%);
            }
            &_2 {
                width: 60px;
                height: 100%;
                margin: 0 auto;
                background: linear-gradient(0deg,#c89afc 9.51%,#7c6afa 90.23%);
            }
            &_3 {
                width: 30px;
                height: 100%;
                margin: 0 auto;
                background: linear-gradient(180deg,#c89afc 9.51%,#7c6afa 90.23%);
            }
            &_4 {
                width: 10px;
                height: 100%;
                margin: 0 auto;
                background: linear-gradient(0deg,#c89afc 9.51%,#7c6afa 90.23%);
            }
        }
        &__descr {
            width: 300px;
        }
        &__column {
            font-size: 12px;
            &_title {
                font-size: 20px;
                text-align: center;
            }
            &_bottom {
                padding-right: 0;
                box-sizing: border-box;
            }
        }
    }
    .profession {
        padding: 100px 0 0 0;
        &__title {
            font-size: 30px;
        }
    }
    .partners {
        padding: 100px 0 0 0;
        &__title {
            font-size: 30px;
            padding-left: 0;
            text-align: center;
            width: 200px;
            margin: 0 auto;
            img {
                top: -50px;
                left: 70px;
                width: 50px;
                height: 50px;
            }
        }
        &__items {
            margin-top: 40px;
            grid-template-columns: repeat(2,150px);
            grid-template-rows: 1fr;
        }
        &__row {
            grid-template-rows: repeat(4,1fr);
            grid-template-columns: 1fr;
            border-right: 1px solid #fff;
            border-bottom: none;
            &:last-child {
                border-right: none;
            }
        }
        &__column {
            border-bottom: 1px solid #fff;
            border-right: none;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .program {
        padding: 100px 0 0 0;
        &__title {
            font-size: 30px;
            padding-left: 0;
            text-align: center;
            width: 200px;
            margin: 0 auto;
            img {
                top: -75px;
                left: 95px;
                width: 50px;
                height: 50px;
            }
        }
        &__descr {
            width: 300px;
        }
        &__weeks {
            margin: 40px auto 0;
            grid-template-columns: 147px 6px 147px;
            width: 300px;
        }
        &__week {
            padding: 0 10px;
            &_left {
                &::after {
                    top: 30px;
                }
            }
            &_right {
                &::after {
                    top: 30px;
                }
            }
        }
        &__divider {
            height: 1020px;
        }
    }
    .teachers {
        padding: 100px 0 0 0;
        &__title {
            font-size: 30px;
            padding-left: 0;
            text-align: center;
            width: 200px;
            margin: 0 auto;
            img {
                top: -50px;
                left: 75px;
                width: 50px;
                height: 50px;
            }
        }
        &__items {
            margin-top: 50px;
            flex-direction: column;
        }
        &__item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .contacts {
        padding: 100px 0 0 0;
        &__title {
            font-size: 30px;
            padding-left: 0;
            text-align: center;
            width: 230px;
            margin: 0 auto;
        }
        &__descr {
            width: 300px;
        }
        &__email {
            width: 270px;
        }
        &__social {
            width: 240px;
        }
    }
}