.contacts {
    min-height: 400px;
    padding: 200px 0 0 0;
    background: url('../img/bg.png');
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
    }
    &__descr {
        width: 411px;
        margin: 30px auto 0;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
        opacity: 0.5;
    }
    &__email {
        position: relative;
        margin: 60px auto 0;
        width: 462px;
        height: 44px;
        background: rgba($color: #fff, $alpha: 0.3);
        border-radius: 22px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
    }
    &__subscribe {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 44px;
        border-radius: 22px;
        background: $color-red;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }
    &__social {
        margin: 40px auto 0;
        display: flex;
        justify-content: space-between;
        width: 290px;
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: $color-purple;
        }
    }
}